<div class="fr-container fr-my-5w">
  <h2>Erreur <code><%= error %></code></h2>
  <blockquote><%= error_description %></blockquote>
  <p class="fr-my-5w">
    <a href="/">Retour à l’accueil</a>
  </p>
</div>
